<% provide(:title, 'Home')%>

<div>
  <section class="bg-white dark:bg-gray-900">
      <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
          <div class="mr-auto place-self-center lg:col-span-5">
              <h1 class="max-w-2xl mb-4 text-3sxl font-bold leading-none md:text-5xl xl:text-6xl dark:text-white">Build the perfect body with a clean mind</h1>
              <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Get started today with our app's range of exercises and diet plans today, and  get your desired body shape. Your health and body will be grateful!</p>
              <%= link_to new_user_registration_url, class: "inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900" do %>
                Get started
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              <% end %>
              <button class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                  Speak to Sales
              </button> 
          </div>
          <div class="hidden lg:mt-0 lg:col-span-7 lg:flex ml-4">
              <img src="https://images.pexels.com/photos/1547248/pexels-photo-1547248.jpeg?auto=compress&cs=tinysrgb&w=800" alt="mockup">
          </div>                
      </div>
  </section>
  
  <section class="bg-gray-50 dark:bg-gray-800">
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
          <div class="max-w-screen-md mb-8 lg:mb-16">
              <h2 class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white">Designed for beginner, medium and expert trainers</h2>
              <p class="text-gray-500 sm:text-xl dark:text-gray-400">Here at Gracker, we have a range of planned exercises and diets that help you get in shape and keep you healthy.</p>
          </div>
          <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
              <div>
                  <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-100 lg:h-12 lg:w-12 dark:bg-blue-900">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="800px" width="800px" version="1.1" id="Layer_1" viewBox="0 0 503.608 503.608" xml:space="preserve">
                        <g transform="translate(-1)">
                            <g>
                                <g>
                                    <path d="M479.427,302.164h-16.93C459.476,134.799,366.611,0,252.804,0S46.132,134.799,43.111,302.164h-16.93     c-13.883,0-25.18,11.298-25.18,25.18c0,10.937,7.042,20.169,16.804,23.636l0.05,26.725h67.013l0.05-26.725     c9.762-3.466,16.804-12.699,16.804-23.636c0-13.883-11.298-25.18-25.18-25.18H59.898C61.87,195.71,101.21,103.281,158.655,54.23     c-9.451,16.149-14.966,34.866-14.966,54.885c0,60.164,48.951,109.115,109.115,109.115s109.115-48.951,109.115-109.115     c0-20.018-5.515-38.736-14.966-54.885c57.445,49.051,96.785,141.48,98.757,247.934h-16.644c-13.883,0-25.18,11.298-25.18,25.18     c0,10.937,7.042,20.169,16.804,23.636l0.05,26.725h67.013l0.05-26.725c9.762-3.466,16.804-12.699,16.804-23.636     C504.607,313.461,493.31,302.164,479.427,302.164z M252.804,201.443c-50.906,0-92.328-41.422-92.328-92.328     c0-50.906,41.422-92.328,92.328-92.328c50.906,0,92.328,41.422,92.328,92.328C345.132,160.021,303.71,201.443,252.804,201.443z"/>
                                    <polygon points="17.985,444.852 84.738,444.852 84.839,394.492 17.884,394.492    "/>
                                    <path d="M18.05,478.688c0,13.74,11.18,24.92,24.92,24.92h16.787c13.732,0,24.912-11.18,24.912-24.903l0.034-17.064H18.017     L18.05,478.688z"/>
                                    <polygon points="420.87,444.852 487.623,444.852 487.724,394.492 420.77,394.492    "/>
                                    <path d="M420.936,478.688c0,13.74,11.18,24.92,24.92,24.92h16.787c13.732,0,24.912-11.18,24.912-24.903l0.034-17.064h-66.686     L420.936,478.688z"/>
                                </g>
                            </g>
                        </g>
                        </svg>
                  </div>
                  <h3 class="mb-2 text-xl font-bold dark:text-white">Freestyle training</h3>
                  <p class="text-gray-500 dark:text-gray-400">Get started with our freestyle training mode and keep your fitness in check </p>
              </div>
              <div>
                  <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-100 lg:h-12 lg:w-12 dark:bg-blue-900">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="800px" width="800px" version="1.1" id="Layer_1" viewBox="0 0 512 512" xml:space="preserve">
                            <g>
                                <g>
                                    <g>
                                        <path d="M396.8,310.571V59.733c0-4.719-3.814-8.533-8.533-8.533H294.4v-8.533c0-4.719-3.814-8.533-8.533-8.533h-26.462     C255.445,14.686,238.208,0,217.6,0c-20.608,0-37.845,14.686-41.805,34.133h-26.462c-4.719,0-8.533,3.814-8.533,8.533V51.2H46.933     c-4.719,0-8.533,3.814-8.533,8.533V486.4c0,4.719,3.814,8.533,8.533,8.533h267.785C330.923,505.694,350.327,512,371.2,512     c56.465,0,102.4-45.935,102.4-102.4C473.6,361.984,440.892,321.98,396.8,310.571z M294.4,85.333h59.733     c4.719,0,8.533,3.814,8.533,8.533v213.769c-6.4,0.529-12.612,1.681-18.628,3.337c0.529-0.145,1.033-0.333,1.562-0.469V102.4     h-51.2V85.333z M285.867,153.6h25.6c4.719,0,8.533,3.814,8.533,8.533s-3.814,8.533-8.533,8.533h-25.6     c-4.719,0-8.533-3.814-8.533-8.533S281.148,153.6,285.867,153.6z M311.467,307.2H243.2c-4.719,0-8.533-3.814-8.533-8.533     s3.814-8.533,8.533-8.533h68.267c4.719,0,8.533,3.814,8.533,8.533S316.186,307.2,311.467,307.2z M132.267,273.067     c-4.719,0-8.533-3.814-8.533-8.533s3.814-8.533,8.533-8.533h68.267c4.719,0,8.533,3.814,8.533,8.533s-3.814,8.533-8.533,8.533     H132.267z M149.333,298.667c0,4.719-3.814,8.533-8.533,8.533h-8.533c-4.719,0-8.533-3.814-8.533-8.533s3.814-8.533,8.533-8.533     h8.533C145.519,290.133,149.333,293.948,149.333,298.667z M132.267,221.867h25.6c4.719,0,8.533,3.814,8.533,8.533     c0,4.719-3.814,8.533-8.533,8.533h-25.6c-4.719,0-8.533-3.814-8.533-8.533C123.733,225.681,127.548,221.867,132.267,221.867z      M123.733,196.267c0-4.719,3.814-8.533,8.533-8.533H192c4.719,0,8.533,3.814,8.533,8.533S196.719,204.8,192,204.8h-59.733     C127.548,204.8,123.733,200.986,123.733,196.267z M174.933,290.133h34.133c4.719,0,8.533,3.814,8.533,8.533     s-3.814,8.533-8.533,8.533h-34.133c-4.719,0-8.533-3.814-8.533-8.533S170.214,290.133,174.933,290.133z M192,238.933     c-4.719,0-8.533-3.814-8.533-8.533c0-4.719,3.814-8.533,8.533-8.533h51.2c4.719,0,8.533,3.814,8.533,8.533     c0,4.719-3.814,8.533-8.533,8.533H192z M234.667,256H268.8c4.719,0,8.533,3.814,8.533,8.533s-3.814,8.533-8.533,8.533h-34.133     c-4.719,0-8.533-3.814-8.533-8.533S229.948,256,234.667,256z M311.467,273.067h-8.533c-4.719,0-8.533-3.814-8.533-8.533     s3.814-8.533,8.533-8.533h8.533c4.719,0,8.533,3.814,8.533,8.533S316.186,273.067,311.467,273.067z M311.467,238.933h-34.133     c-4.719,0-8.533-3.814-8.533-8.533c0-4.719,3.814-8.533,8.533-8.533h34.133c4.719,0,8.533,3.814,8.533,8.533     C320,235.119,316.186,238.933,311.467,238.933z M311.467,204.8h-85.333c-4.719,0-8.533-3.814-8.533-8.533     s3.814-8.533,8.533-8.533h85.333c4.719,0,8.533,3.814,8.533,8.533S316.186,204.8,311.467,204.8z M157.867,93.867V59.733V51.2     h25.6c4.719,0,8.533-3.814,8.533-8.533c0-14.114,11.486-25.6,25.6-25.6s25.6,11.486,25.6,25.6c0,4.719,3.814,8.533,8.533,8.533     h25.6v8.533v34.133v8.533H157.867V93.867z M251.733,153.6c4.719,0,8.533,3.814,8.533,8.533s-3.814,8.533-8.533,8.533H132.267     c-4.719,0-8.533-3.814-8.533-8.533s3.814-8.533,8.533-8.533H251.733z M81.067,460.8c-4.719,0-8.533-3.814-8.533-8.533v-358.4     c0-4.719,3.814-8.533,8.533-8.533H140.8V102.4H89.6v341.333h185.088c-0.171-0.478-0.282-0.964-0.444-1.442     c2.193,6.485,5.026,12.672,8.405,18.509H81.067z M371.2,494.933c-18.483,0-35.567-5.973-49.553-16     c-2.688-1.929-5.231-3.994-7.637-6.187c-0.341-0.307-0.683-0.614-1.015-0.93c-8.098-7.629-14.566-16.708-19.157-26.675     c0.401,0.887,0.759,1.783,1.169,2.662c-5.794-11.511-9.139-24.465-9.139-38.204c0-17.749,5.461-34.236,14.763-47.906     c2.039-2.987,4.309-5.777,6.69-8.474c0.529-0.597,1.067-1.186,1.604-1.766c0.616-0.659,1.24-1.312,1.872-1.956     c-0.615,0.629-1.221,1.264-1.82,1.905c12.211-13.056,28.425-22.272,46.694-25.651c2.5-0.461,5.035-0.828,7.603-1.084     c2.611-0.239,5.248-0.401,7.927-0.401c2.637,0,5.231,0.162,7.799,0.393c2.483,0.247,5.018,0.597,7.637,1.075     c39.697,7.296,69.897,42.095,69.897,83.866C456.533,456.653,418.253,494.933,371.2,494.933z"/>
                                        <path d="M418.603,368.37c-3.942-2.62-9.233-1.562-11.836,2.364l-44.51,66.765l-18.364-24.482     c-2.825-3.772-8.175-4.54-11.947-1.707c-3.772,2.825-4.54,8.175-1.707,11.938l25.6,34.133c0.179,0.247,0.469,0.333,0.666,0.555     c0.452,0.495,0.845,1.041,1.425,1.434c0.222,0.145,0.461,0.196,0.683,0.316c0.247,0.137,0.486,0.239,0.742,0.35     c1.075,0.452,2.185,0.768,3.302,0.768h0.008h0.009c0.017,0,0.034-0.009,0.051-0.009c0.794-0.008,1.57-0.154,2.33-0.375     c0.23-0.068,0.444-0.162,0.666-0.247c0.597-0.23,1.152-0.521,1.681-0.879c0.119-0.085,0.265-0.111,0.384-0.205     c0.06-0.043,0.085-0.111,0.145-0.162c0.691-0.546,1.323-1.161,1.835-1.929l51.2-76.8     C423.586,376.271,422.528,370.981,418.603,368.37z"/>
                                    </g>
                                </g>
                            </g>
                    </svg>
                  </div>
                  <h3 class="mb-2 text-xl font-bold dark:text-white">Track workouts</h3>
                  <p class="text-gray-500 dark:text-gray-400">Track your daily workouts and the progress you are making.</p>
              </div>
              <div>
                  <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-100 lg:h-12 lg:w-12 dark:bg-blue-900">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="800px" width="800px" version="1.1" id="Layer_1" viewBox="0 0 503.607 503.607" xml:space="preserve">
                        <g>
                            <g>
                                <g>
                                    <path d="M474.229,54.557c-5.137,0-9.887,1.444-14.093,3.76c-3.777-11.868-14.772-20.547-27.875-20.547     c-16.199,0-29.377,13.178-29.377,29.377v12.59H100.721v-12.59c0-16.199-13.178-29.377-29.377-29.377     c-13.102,0-24.098,8.679-27.875,20.547c-4.205-2.317-8.956-3.76-14.093-3.76C13.178,54.557,0,67.735,0,83.934v41.967     c0,16.199,13.178,29.377,29.377,29.377c5.137,0,9.887-1.444,14.093-3.76c3.777,11.868,14.772,20.547,27.875,20.547     c16.199,0,29.377-13.178,29.377-29.377v-12.59h16.787v25.18c0,4.633,3.752,8.393,8.393,8.393h8.393v293.771     c0,4.633,3.752,8.393,8.393,8.393c4.642,0,8.393-3.76,8.393-8.393V163.672h8.393c4.642,0,8.393-3.76,8.393-8.393v-25.18h167.869     v25.18c0,4.633,3.752,8.393,8.393,8.393h8.393v293.771c0,4.633,3.752,8.393,8.393,8.393s8.393-3.76,8.393-8.393V163.672h8.393     c4.642,0,8.393-3.76,8.393-8.393v-25.18h16.787v12.59c0,16.199,13.178,29.377,29.377,29.377c13.102,0,24.098-8.679,27.875-20.547     c4.205,2.317,8.956,3.76,14.093,3.76c16.199,0,29.377-13.178,29.377-29.377V83.934C503.607,67.735,490.429,54.557,474.229,54.557     z M402.885,113.311h-25.18h-33.574H159.475h-33.574h-25.18V96.525h302.164V113.311z"/>
                                    <path d="M310.557,289.574H193.049c-13.883,0-25.18,11.298-25.18,25.18c0,10.928,7.042,20.161,16.787,23.636v119.053     c0,4.633,3.752,8.393,8.393,8.393c4.642,0,8.393-3.76,8.393-8.393V339.934h100.721v117.508c0,4.633,3.752,8.393,8.393,8.393     c4.642,0,8.393-3.76,8.393-8.393V338.39c9.745-3.475,16.787-12.708,16.787-23.636     C335.738,300.871,324.44,289.574,310.557,289.574z"/>
                                </g>
                            </g>
                        </g>
                    </svg>
                  </div>
                  <h3 class="mb-2 text-xl font-bold dark:text-white">Specialized training</h3>
                  <p class="text-gray-500 dark:text-gray-400">We have exercises for weight loss, arms and body, muscle mass gain as well</p>
              </div>
              <div>
                  <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-100 lg:h-12 lg:w-12 dark:bg-blue-900">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="800px" width="800px" version="1.1" id="Layer_1" viewBox="0 0 512 512" xml:space="preserve">
                        <g transform="translate(-1)">
                            <g>
                                <g>
                                    <path d="M112.354,315.733c1.28,12.945,5.478,25.267,12.373,36.335l36.335-36.335H112.354z"/>
                                    <path d="M316.733,392.533c44.169,0,80.614-33.741,84.907-76.8H233.474l-69.828,69.82c10.624,4.591,22.067,6.98,33.621,6.98     H316.733z"/>
                                    <path d="M77.798,281.597c0-12.655,7.006-23.595,17.263-29.491C97.16,164.52,168.917,93.864,256.998,93.864     c34.543,0,67.157,10.769,94.95,30.985l30.532-30.532c-35.849-27.87-80.051-43.119-125.483-43.119     c-112.93,0-204.8,91.87-204.8,204.8c0,45.431,15.249,89.634,43.119,125.483l17.109-17.109     c-10.769-15.872-16.691-34.099-17.399-53.299C84.787,305.175,77.798,294.244,77.798,281.597z"/>
                                    <path d="M112.181,247.467h117.146l110.49-110.481c-24.388-17.075-52.821-26.052-82.816-26.052     C179.876,110.933,116.618,171.435,112.181,247.467z M154.6,204.8c-4.71,0-8.533-3.823-8.533-8.533s3.823-8.533,8.533-8.533     s8.533,3.823,8.533,8.533S159.31,204.8,154.6,204.8z M197.267,213.333c-4.71,0-8.533-3.823-8.533-8.533s3.823-8.533,8.533-8.533     s8.533,3.823,8.533,8.533S201.977,213.333,197.267,213.333z M205.8,170.667c-4.71,0-8.533-3.823-8.533-8.533     c0-4.71,3.823-8.533,8.533-8.533s8.533,3.823,8.533,8.533C214.333,166.844,210.51,170.667,205.8,170.667z M239.933,204.8     c-4.71,0-8.533-3.823-8.533-8.533s3.823-8.533,8.533-8.533c4.71,0,8.533,3.823,8.533,8.533S244.644,204.8,239.933,204.8z      M248.467,145.067c-4.71,0-8.533-3.823-8.533-8.533s3.823-8.533,8.533-8.533s8.533,3.823,8.533,8.533     S253.177,145.067,248.467,145.067z M274.067,153.6c4.71,0,8.533,3.823,8.533,8.533c0,4.71-3.823,8.533-8.533,8.533     c-4.71,0-8.533-3.823-8.533-8.533C265.533,157.423,269.356,153.6,274.067,153.6z"/>
                                    <path d="M94.867,281.6c0,9.412,7.654,17.067,17.067,17.067h66.193l34.133-34.133H111.933     C102.521,264.533,94.867,272.188,94.867,281.6z"/>
                                    <path d="M376.014,173.184l-74.274,74.283h100.079C400.283,220.621,391.46,195.251,376.014,173.184z M367.933,230.4     c-4.71,0-8.533-3.823-8.533-8.533c0-4.71,3.823-8.533,8.533-8.533s8.533,3.823,8.533,8.533     C376.467,226.577,372.644,230.4,367.933,230.4z"/>
                                    <path d="M418.684,130.521l-30.532,30.532c19.456,26.743,30.054,57.976,30.822,91.076c10.24,5.897,17.229,16.828,17.229,29.474     c0,12.655-7.006,23.595-17.263,29.491c-2.074,54.647-47.061,98.509-102.204,98.509H197.269c-16.085,0-31.889-4.07-46.268-11.401     l-19.482,19.482c35.849,27.861,80.051,43.119,125.483,43.119c112.93,0,204.8-91.878,204.8-204.8     C461.803,210.572,446.553,166.369,418.684,130.521z"/>
                                    <path d="M257,0C115.842,0,1,114.842,1,256s114.842,256,256,256s256-114.842,256-256S398.158,0,257,0z M94.67,402.731     c-0.111,0-0.222-0.008-0.341-0.008c-2.372-0.094-4.608-1.178-6.153-2.987C53.975,359.612,35.133,308.565,35.133,256     c0-122.334,99.533-221.867,221.867-221.867c52.565,0,103.612,18.842,143.735,53.043c1.809,1.545,2.893,3.78,2.987,6.153     c0.094,2.381-0.811,4.693-2.492,6.374l-42.385,42.385L238.901,262.033l-51.2,51.2l-58.061,58.061l-28.937,28.937     C99.099,401.835,96.932,402.731,94.67,402.731z M257,477.867c-52.565,0-103.612-18.842-143.735-53.043     c-1.809-1.544-2.893-3.78-2.987-6.152c-0.094-2.381,0.811-4.693,2.492-6.374l30.532-30.532l80.597-80.597l51.2-51.2     l95.812-95.812l42.385-42.385c1.69-1.681,4.019-2.534,6.366-2.492c2.381,0.094,4.617,1.178,6.161,2.987     c34.202,40.124,53.043,91.17,53.043,143.735C478.867,378.334,379.334,477.867,257,477.867z"/>
                                    <path d="M419.133,281.6c0-9.412-7.654-17.067-17.067-17.067H284.674l-34.133,34.133h151.526     C411.479,298.667,419.133,291.012,419.133,281.6z"/>
                                </g>
                            </g>
                        </g>
                    </svg>
                  </div>
                  <h3 class="mb-2 text-xl font-bold dark:text-white">Diet plans </h3>
                  <p class="text-gray-500 dark:text-gray-400">We also provide a diet plan for you as well that help you lose or gain muscle mass quickly.</p>
              </div>
              <div>
                  <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-100 lg:h-12 lg:w-12 dark:bg-blue-900">
                    <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_443_3628)">
                        <rect x="2" y="6" width="20" height="12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22 10C21.4747 10 20.9546 9.89654 20.4693 9.69552C19.984 9.4945 19.543 9.19986 19.1716 8.82843C18.8001 8.45699 18.5055 8.01604 18.3045 7.53073C18.1035 7.04543 18 6.52529 18 6L22 6L22 10Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18 18C18 16.9391 18.4214 15.9217 19.1716 15.1716C19.9217 14.4214 20.9391 14 22 14L22 18L18 18Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M2 14C3.06087 14 4.07828 14.4214 4.82843 15.1716C5.57857 15.9217 6 16.9391 6 18L2 18L2 14Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 6C6 7.06087 5.57857 8.07828 4.82843 8.82843C4.07828 9.57857 3.06087 10 2 10L2 6H6Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.0741 9.5H11.3333C10.597 9.5 10 10.0596 10 10.75C10 11.4404 10.597 12 11.3333 12H13.1111C13.8475 12 14.4444 12.5596 14.4444 13.25C14.4444 13.9404 13.8475 14.5 13.1111 14.5H10" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 9.51733V8.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 15.5173V14.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_443_3628">
                        <rect width="24" height="24" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                  </div>
                  <h3 class="mb-2 text-xl font-bold dark:text-white">Affordable prices</h3>
                  <p class="text-gray-500 dark:text-gray-400">We have different plans for various budgets and payment plans.</p>
              </div>
              <div>
                  <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-100 lg:h-12 lg:w-12 dark:bg-blue-900">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="800px" width="800px" version="1.1" id="Layer_1" viewBox="0 0 503.046 503.046" xml:space="preserve">
                        <g>
                            <g>
                                <g>
                                    <path d="M491.806,367.889l-1.381-1.381c-5.12-5.12-11.361-8.356-17.91-9.998c5.526-6.83,8.694-15.205,8.694-24.161     c0-10.346-3.999-20.045-11.283-27.32c-7.274-7.284-16.973-11.293-27.32-11.293s-20.055,4.009-27.329,11.293l-13.66,13.66     L183.021,100.094l13.66-13.66c7.274-7.274,11.283-16.973,11.283-27.32s-4.009-20.045-11.283-27.32     c-7.265-7.284-16.964-11.293-27.32-11.293c-8.955,0-17.331,3.169-24.161,8.694c-1.642-6.55-4.878-12.781-9.989-17.901     c-15.07-15.06-39.569-15.06-54.649,0L12.255,79.604c-15.061,15.061-15.061,39.579,0,54.649c5.11,5.12,11.351,8.347,17.901,9.989     c-5.526,6.84-8.685,15.205-8.685,24.161c0,10.356,3.999,20.055,11.283,27.329c7.274,7.274,16.973,11.283,27.32,11.283     c10.337,0,20.045-4.009,27.32-11.283l13.66-13.66l218.595,218.585l-13.66,13.66c-7.274,7.284-11.283,16.983-11.283,27.329     s4.009,20.045,11.283,27.32c7.274,7.274,16.973,11.283,27.32,11.283c8.955,0,17.331-3.159,24.17-8.694     c1.642,6.559,4.878,12.8,9.989,17.92l3.69,3.671c6.289,6.299,14.684,9.767,23.62,9.767c8.955,0,17.34-3.468,23.639-9.767     l73.39-73.38C506.113,405.458,506.113,382.196,491.806,367.889z M73.734,182.072c-7.255,7.245-20.084,7.245-27.32,0     c-3.632-3.632-5.622-8.482-5.622-13.669c0-5.178,1.99-10.027,5.622-13.66l20.49-20.49l68.309-68.309l20.49-20.49     c3.632-3.632,8.482-5.632,13.66-5.632c5.188,0,10.037,2,13.66,5.632c3.632,3.623,5.622,8.472,5.622,13.66     c0,5.178-1.99,10.027-5.622,13.66L73.734,182.072z M456.265,346.018l-20.49,20.49l-68.318,68.309l-20.49,20.49     c-7.265,7.265-20.084,7.245-27.32,0c-3.632-3.623-5.622-8.472-5.622-13.66s2-10.037,5.622-13.669l13.66-13.66l81.968-81.968     l13.66-13.66c3.632-3.632,8.482-5.632,13.669-5.632c5.188,0,10.037,2,13.66,5.632c3.632,3.623,5.622,8.472,5.622,13.66     C461.888,337.536,459.888,342.386,456.265,346.018z"/>
                                    <path d="M347.373,237.119l54.243-54.243l13.66,13.66c7.274,7.274,16.983,11.283,27.329,11.283s20.045-4.009,27.32-11.283     s11.283-16.983,11.283-27.329c0-8.955-3.169-17.321-8.694-24.161c6.559-1.642,12.8-4.878,17.92-9.998l1.343-1.352     c14.317-14.317,14.317-37.608,0-51.925L422.106,12.1c-15.07-15.051-39.569-15.07-54.649,0c-5.11,5.11-8.337,11.351-9.979,17.901     c-6.84-5.526-15.215-8.694-24.17-8.694c-10.346,0-20.045,4.009-27.32,11.283c-7.284,7.284-11.283,16.983-11.283,27.329     s4.009,20.045,11.283,27.32l13.66,13.66l-54.243,54.253L347.373,237.119z M314.026,59.919c0-5.188,2-10.037,5.622-13.669     c3.623-3.623,8.472-5.622,13.66-5.622c5.178,0,10.037,2,13.66,5.622l20.48,20.48c0,0.01,0,0.01,0.01,0.019l34.159,34.149     l54.649,54.649c3.632,3.632,5.622,8.482,5.622,13.66c0,5.188-2,10.037-5.622,13.669c-7.236,7.245-20.074,7.245-27.329,0     l-13.66-13.66v-0.01l-81.968-81.968l-13.66-13.66C316.016,69.956,314.026,65.107,314.026,59.919z"/>
                                    <path d="M156.112,264.445l-55.054,55.045l-13.66-13.66c-7.274-7.284-16.983-11.283-27.329-11.283s-20.045,4.009-27.32,11.283     c-7.274,7.274-11.283,16.983-11.283,27.329c0,8.955,3.169,17.321,8.694,24.161c-6.55,1.642-12.79,4.878-17.91,9.989l-0.763,0.763     c-14.635,14.645-14.635,38.477,0,53.122l71.622,71.612c6.598,6.598,15.399,10.24,24.779,10.24c9.371,0,18.171-3.642,24.779-10.24     l2.55-2.541c5.11-5.12,8.337-11.351,9.979-17.901c6.84,5.526,15.215,8.694,24.17,8.694c10.346,0,20.045-4.009,27.32-11.283     c7.284-7.284,11.283-16.983,11.283-27.329s-4.009-20.045-11.283-27.32l-13.66-13.66l55.055-55.055L156.112,264.445z      M188.649,442.447c0,5.188-2,10.037-5.622,13.669c-7.236,7.245-20.065,7.245-27.32,0l-20.48-20.48c0-0.01-0.01-0.01-0.01-0.019     l-34.159-34.149l-54.649-54.649c-3.632-3.632-5.622-8.482-5.622-13.66c0-5.188,2-10.047,5.622-13.669     c3.623-3.632,8.472-5.622,13.66-5.622s10.037,2,13.66,5.622l13.669,13.66v0.01l40.979,40.979l54.649,54.649     C186.659,432.41,188.649,437.259,188.649,442.447z"/>
                                </g>
                            </g>
                        </g>
                    </svg>
                  </div>
                  <h3 class="mb-2 text-xl font-bold dark:text-white">Experts</h3>
                  <p class="text-gray-500 dark:text-gray-400">All the various exercises and plans are designed by experts with experience in body building and weight loss</p>
              </div>
          </div>
      </div>
    </section>

    <section class="bg-white dark:bg-gray-900">
      <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
          <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
              <h2 class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white">We didn't reinvent the wheel</h2>
              <p class="mb-4">At Gracker, we believe that fitness should be accessible to everyone, regardless of age, fitness level, or background.</p>
              <p>That's why we've created a welcoming and inclusive environment where everyone can feel comfortable and supported. Our knowledgeable and friendly staff are here to help you get the most out of your workouts, whether you're a seasoned athlete or just starting out.</p>
          </div>
          <div class="grid grid-cols-2 gap-4 mt-8">
              <img class="w-full rounded-lg" src="https://images.pexels.com/photos/2331055/pexels-photo-2331055.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Gym pictures">
              <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://images.pexels.com/photos/5039523/pexels-photo-5039523.jpeg?auto=compress&cs=tinysrgb&w=400" alt="office content 2">
          </div>
      </div>
  </section>

  <section class="bg-gray-50 dark:bg-gray-900 dark:bg-gray-800">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
          <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
              <h2 class="mb-4 text-4xl font-bold text-gray-900 dark:text-white">Powering <span class="font-extrabold">200,000+</span> people to achieve their desired body shape</h2>
              <p class="mb-4 font-light">Whether you are looking to lose weight, build muscle, tone up, or simply improve your overall fitness level, our gym has the tools and expertise to help you get there. We offer a wide range of equipment, classes, and personalized training programs that are tailored to meet the specific needs of each individual.</p>
              <p class="mb-4 font-medium">Our trainers are highly qualified and experienced in working with people from all walks of life, including beginners, intermediate, and advanced fitness enthusiasts. </p>
              <a href="#" class="inline-flex items-center font-medium text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">
                  Learn more
                  <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              </a>
          </div>
      </div>
    </section>

    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
          <div class="mx-auto max-w-screen-sm text-center">
              <h2 class="mb-4 text-4xl font-extrabold leading-tight text-gray-900 dark:text-white">Start your free trial today</h2>
              <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">Try Gracker for 30 days. No credit card required.</p>
              <%= link_to "Free trial for 30 days", new_user_registration_url, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
          </div>
      </div>
  </section>
</div>
